@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
	--black: #2D2D2D;
	--gray: #909090;
	--primary: #8424FF;
}

html {
	font-size: 18px;
}

h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: var(--black);
}

h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 1rem;
	color: var(--gray);
	transition-duration: 200ms;
}

label {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: var(--gray);
	position: relative;
	transition-duration: 200ms;
	user-select: none;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.app-column {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.margin-container {
	margin: 0 1rem 0 1rem;
}

.black {
	color: var(--black);
}

button {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-align: left;
	color: white;
	background-color: var(--primary);
	border: none;
	padding: 1.5rem;
	margin: 2rem 0 2rem 0;
	width: 100%;
	transition-duration: 200ms;
}