.input-container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1rem 0 1rem 0;
}

.radio-input-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 1rem 0;
}

input[type="radio"] {
	position: fixed;
	pointer-events: none;
	opacity: 0;
}

.input-container input {
	width: 100%;
	border: none;
	border-bottom: 2px solid var(--gray);
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	color: var(--primary);
	border-radius: 0;
}

.radio-input-container label {
	cursor: pointer;
}

.selected {
	color: var(--primary);
	transition-duration: 200ms;
}

.label-blurred {
	top: 1rem;
	z-index: -1;
	transition-duration: 200ms;
}

.label-focused {
	top: 0;
	transition-duration: 200ms;
}

.label-filled {
	transition-duration: 200ms;
}

.input-container input:focus {
	outline: none;
	border-bottom: 2px solid var(--primary);
}

.message {
	position: absolute;
	bottom: 0;
	left: 0;
	transition-duration: 200ms;
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}